# Open and read csv file with pandas

In [1]:
import pandas as pd

In [2]:
budget_data = "../Instructions/PyBank/Resources/budget_data.csv"

In [3]:
budget_data_pd = pd.read_csv(budget_data)

In [4]:
budget_data_pd

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

# Total Number of Months

In [8]:
months = budget_data_pd['Date'].value_counts()
total_months = months.sum()
print(total_months)

86

In [9]:
net_total = budget_data_pd['Profit/Losses'].sum()
print(net_total)

38382578

In [10]:
average = budget_data_pd['Profit/Losses'].mean()
print(average)

446309.0465116279

In [11]:
budget_data_pd.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

In [13]:
greatest_increase = budget_data_pd.max()
print(greatest_increase)

Date             Sep-2016
Profit/Losses     1170593
dtype: object

In [14]:
greatest_decrease = budget_data_pd.min()
print(greatest_decrease)

Date             Apr-2010
Profit/Losses    -1196225
dtype: object